@font-face {font-family: 'PSBOLD'; src: url("fonts/PsBold-2Oy2w.ttf");}
@font-face {font-family: 'PSOLD'; src: url("fonts/PsOld-vmPMD.ttf");}
@font-face {font-family: 'TANSEEK MODERN PRO ARABIC'; src: url("fonts/tanseek-modern-pro-arabic.ttf");}
body{
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}
.navbardiv{
	display: flex;
	background-color: black;
	height: 120px;
}
.navbardiv .navbarps4{
	align-items: flex-start;
	align-self: center ;
	margin: 11px auto 25px 23px;
	
}
.navbardiv img{
	width: 100%;
	height: 100%;
	
}
.nvright{
	margin-left: auto;
	align-self: center;
	margin-right: 8px;
}
.nvright img{
	height: 74px;
	width: 264px;
}
.navimg{
	margin-top:16px; 
	margin-bottom: 16px; 
	margin-left:8px;
	margin-right:8px
}
.Intro{
	background-color: #1A2888;
	padding-bottom: 130px;
}
.titre{
	font-family: PSBOLD;
	font-size: 100px;
	text-align: center;
	margin: 0 auto auto auto;
	color: #AEBFD4
}
.slogan{
	font-family: PSOLD;
	font-size: 60px;
	text-align: center;
}

p, figcaption{
	font-family: TANSEEK MODERN PRO ARABIC;
	font-size: 75px;
	color: white;
	
}
h3{
	font-family: TANSEEK MODERN PRO ARABIC;
	font-size: 50px;
	color: white;
}
figcaption{
	background-color: #2E393D;
	max-width: 480px;
}
.colonnepro, .colonneslim {
	float: left;
	padding: 5px;
  }
  .colonnepro{
	margin: auto 1% 380px 1%;
  }
  .colonneslim{
	margin: auto 1% 400px 1%;
  }
  #imgslim{
	padding-bottom: 60px;
  }
.row::after {
	content: "";
	clear: both;
	display: table;
  }
.TexteIntro__image{
	float: left;
}
.TexteIntro__text{
	display: inline;
}
#pspro, #psslim{
	font-size: 60px;
}
#psslim{
	max-width: 650px;
}

#JE{
	color: white;
	font-family: TANSEEK MODERN PRO ARABIC;
	font-size: 50px;
	text-align: center;
	top: 10px;
}
.b1 {
	position: absolute;
	width: 1920px;
	height: 946px;
	top: 1914px;
	left: 0px;
	background-color: #526879;
  }
  
.b2 {
	position: absolute;
	width: 1920px;
	height: 942px;
	top: 0;
	left: 0;
  }
  
.b3 {
	position: absolute;
	width: 1920px;
	height: 860px;
	top: 0;
	left: 0;
  }
.rectff7 {
	position: absolute;
	width: 600px;
	height: 718px;
	top: 142px;
	left: 1266px;
	object-fit: cover;
	padding-top: 25px;
  }
  
.recthzd {
	position: absolute;
	width: 600px;
	height: 718px;
	top: 138px;
	left: 0;
	object-fit: cover;
	padding-top: 25px;
  }
  
.rectuc4 {
	position: absolute;
	width: 600px;
	height: 718px;
	top: 142px;
	left: 633px;
	object-fit: cover;
	padding-top: 25px;
  }
  
.hzd {
	position: absolute;
	width: 600px;
	height: 86px;
	top: 856px;
	left: 0;
	background-color: #a4bcfc;
  }
  
.txthzd {
	position: absolute;
	top: -20px;
	left: 150px;
  }
  
.ff7 {
	position: absolute;
	width: 600px;
	height: 86px;
	top: 860px;
	left: 1266px;
	background-color: #a4bcfc;
  }
  
.txtff7 {
	position: absolute;
	top: -20px;
	left: 170px;
  }
  
.uc4 {
	position: absolute;
	width: 600px;
	height: 86px;
	top: 860px;
	left: 633px;
	background-color: #a4bcfc;
  }
  .txtuc4 {
	position: absolute;
	top: -20px;
	left: 200px;
  }
.txtff7,.txthzd,.txtuc4{
	font-family:  TANSEEK MODERN PRO ARABIC;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	color: white;
}
.b4 {
	position: absolute;
	width: 1920px;
	height: 1275px;
	top: 2860px;
	left: 0;
	background-color: #6D81B4;
}
  
.titspecs {
	color: white;
	font-family: TANSEEK MODERN PRO ARABIC;
	font-size: 70px;
	text-align: center;
	top: 10px;
}
  
.b5 {
	position: absolute;
	width: 843px;
	height: 734px;
	top: 239px;
	left: 1077px;
  }
  
.rectchiffres {
	position: absolute;
	width: 700px;
	height: 635px;
	top: 0;
	left: 55px;
	background-color: #a4bcfc;
  }
  
.detailspecs {
	position: absolute;
	width: 843px;
	top: 10px;
	left: 0;
	font-family: TANSEEK MODERN PRO ARABIC;
	font-size: 30px;
	color: black;
	text-align: center;
}
.spec{
	position: absolute;
	width: 1031px;
	height: 561px;
	top: 239px;
	left: 50px; 
}
.rectadd {
	position: absolute;
	width: 1825px;
	height: 167px;
	top: 1000px;
	background-color: #a4bcfc;
  }
  .txtspecs{
	font-size: 30px;
	text-align: center;
	color: #000000;
  }

  .b6 {
	position: absolute;
	width: 1920px;
	height: 150px;
	top:4100px;
	background-color: #1A2888;
  }
.limites{
	font-size: 30px;
	text-align: center;
}
