body{
	margin: 0;
	padding: 0;
	font-family: segoe UI;
	max-width: 100%;
    	overflow-x: hidden;
}
.navbardiv{
	display: flex;
	background-color: black;
	height: 120px;
}
.navbardiv .navbarswitch{
	align-items: flex-start;
	align-self: center ;
	margin: 11px auto 25px 23px;
	
}
.navbardiv img{
	width: 100%;
	height: 100%;
	
}
.nvright{
	margin-left: auto;
	align-self: center;
	margin-right: 8px;
}
.nvright img{
	height: 74px;
	width: 264px;
}
.navimg{
	margin-top:16px; 
	margin-bottom: 16px; 
	margin-left:8px;
	margin-right:8px;
}
.rouge{
	width: 50%;
	float: left;
	backgroud-color: #FF0000; 
	margin: 0%;
}
}
.bleu{
	width: 50%;
	float: right;
	backgroud-color: #20B8D2;
	margin: 0%;
}
