body{
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}
.navbardiv{
	display: flex;
	background-color: black;
	height: 120px;
}
.navbardiv .navbarswitch{
	align-items: flex-start;
	align-self: center ;
	margin: 11px auto 25px 23px;
	
}
.navbardiv img{
	width: 100%;
	height: 100%;
	
}
.nvright{
	margin-left: auto;
	align-self: center;
	margin-right: 8px;
}
.nvright img{
	height: 74px;
	width: 264px;
}
.navimg{
	margin-top:16px; 
	margin-bottom: 16px; 
	margin-left:8px;
	margin-right:8px;
}
.navimg ps5logo{
	height: 80px;
	width: 80px;
}
.navimg{
	height: 74px;
	width: 74px;
}
.i .rouge{
	width: 50%;
	height: 100%
}
.i  img{
	width: 90%;
	height: 90%;
	margin-top: 2%;
}
.i1 .rouge{
	width: 50%;
	height: 100%;
	background-color: #414141;
}
.i1 .rouge img{
	width: 60%;
	height: 80%;
	margin: 5% 21%;
}
.i2 .rouge{
	background-color: #414141;
	width: 50%;
}
.i2 .rouge p{
	color: white;
	font-size: 187%;
	text-align: right;
}
.i3 .rouge {
	background-color: #414141;
	width: 50%;
	height: 100%;
}
.i3 img{
	width: 40%;
	height: 90%;
	margin: 4% 30% ;
}
.i .bleu{
	width: 50%;
}
.i .bleu img{
	width: 100%;
	height: 120%;
	display: block;
	margin: auto;
}
.i1 .bleu{
	background-color: #2A2A2A;
	width: 50%;
	height: 100%;
}
.i1 .bleu p{
	width: 80%;
	height: 80%;
	margin: 10% 10%;
	font-size: 187%;
	color: white;
}	
.i2 .bleu{
	background-color: #2A2A2A;
	width: 50%;
}
.i2 .bleu p{
	color: white;
	font-size: 187%; 
}
.i3 .bleu{
	background-color: #2A2A2A;
	width: 50%;
	height: 100%;
}
.i3 .bleu p{
	color: white;
	font-size: 187%; 
	text-align: center;
	margin: 25%;
}
.i {
	align-items: center;
	display: flex;
	margin-left: 10%;
	width: 80%;
	height: 8%;	
	margin-bottom: 5%;
}	
.i1 {
	align-items: center;
	display: flex;
	margin: 1% 10%;
	width: 80%;
	height: 11%;
}
.i2 {
	align-items: center;
	display: flex;
	margin: 7% 35%;
	width: 30%;
	height: 1%;
}
.i3 {
	align-items: center;
	display: flex;
	margin: 1% 10%;
	width: 80%;
	height: 15%;
}
.body2 {
	width: 100%;  
	height: 3000px;
	background-image: url("images/2p.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
