@font-face {font-family: XBOX Original; src: url('fonts/XboxOriginalBold-YzPYy.ttf');}
body{
	margin: 0;
	font-family: segoe UI;
	max-width: 100%;
    overflow-x: hidden;
}
.navbardiv{
	display: flex;
	background-color: black;
	height: 120px;
}
.navbardiv .navbarxbox{
	align-items: flex-start;
	align-self: center
	
}
.navbardiv img{
	width: 264px;
	height: 74px;
	
}
.nvright{
	margin-left: auto;
	align-self: center;
	margin-right: 8px;
}
.nvright img{
	height: 100%;
	width: 100%;
}
.navimg{
	margin-top:16px; 
	margin-bottom: 16px; 
	margin-left:8px;
	margin-right:8px
}
.navimg img{
	height: 100%;
	width: 100%;
}
.imgautofit img{
	height: 100%;
	width: 100%;
}
.part1div1 {
	background-color: #151517;
	padding: 56px 76px 171px 76px;
	margin: -4px;
	color: white;
	text-align: center;
	font-size: 128px;
	
}
.part1div2{
	display: flex;
	background-color: #2CA243;
	padding: 104px 50px 104px 80px ;
	text-align: start;
	margin-top: 84px;
	font-size: 64px;
}
.part1div2 img{
	width: 100%;
	height: 100%;
	display : block;
    margin : auto;
}
.divpart2div1{

}
.divpart2div2{

}
.divpart2div2right{

}
.divpart2div2left{

}
